<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>This is your new password, <%= @user.first.name %>!</h1>
    <p>asde34f43</p>
  </body>
</html>
