<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>This is your new password, <%= @user.name %>!</h2>
    <p><%= @password%></p>
    <p>Thank you for using Tinkchat!</p>
  </body>
</html>
