<div class="modal fade" id="privacyModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Privacy</h4>
      </div>
      <div class="modal-body">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec maximus erat risus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec vulputate lectus ut ante maximus molestie. Ut blandit vitae diam sit amet faucibus. Nam dictum ante id arcu mollis luctus. Morbi pharetra velit non velit aliquam, ac malesuada elit tincidunt. Nunc dignissim sollicitudin ipsum, quis lobortis massa placerat sit amet. Curabitur ullamcorper magna a nisl cursus, in laoreet enim rhoncus. Nulla varius orci quis orci semper fermentum. Sed eget imperdiet ante, ut tempus enim. Donec commodo pharetra diam, et vulputate dolor egestas at. Nulla suscipit urna ac nulla ullamcorper, vehicula pharetra mauris interdum. Phasellus vulputate cursus velit, vitae ornare est. Vestibulum sit amet nunc dapibus, cursus felis in, bibendum eros.</p>

        <img src="https://protect.iu.edu/sites/default/files/img/draft_lens5903542module48063682photo_1248467531privacy.gif" />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
