<div class="modal fade" id="termsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Terms and conditions</h4>
      </div>
      <div class="modal-body">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec maximus erat risus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec vulputate lectus ut ante maximus molestie. Ut blandit vitae diam sit amet faucibus. Nam dictum ante id arcu mollis luctus. Morbi pharetra velit non velit aliquam, ac malesuada elit tincidunt. Nunc dignissim sollicitudin ipsum, quis lobortis massa placerat sit amet. Curabitur ullamcorper magna a nisl cursus, in laoreet enim rhoncus. Nulla varius orci quis orci semper fermentum. Sed eget imperdiet ante, ut tempus enim. Donec commodo pharetra diam, et vulputate dolor egestas at. Nulla suscipit urna ac nulla ullamcorper, vehicula pharetra mauris interdum. Phasellus vulputate cursus velit, vitae ornare est. Vestibulum sit amet nunc dapibus, cursus felis in, bibendum eros.</p>

        <p>Curabitur lectus dolor, faucibus non arcu id, efficitur elementum est. Cras eros ligula, tincidunt sed pretium sit amet, gravida ac ex. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed purus ipsum, vulputate a ante vel, consectetur dapibus sem. Maecenas finibus justo at mi efficitur, vel tempor tortor aliquet. Curabitur ac porttitor tortor, nec tristique turpis. Curabitur porta bibendum placerat. Vivamus gravida, nunc in porttitor tristique, orci odio commodo ipsum, in lacinia ante nunc non ipsum. Pellentesque at lobortis nulla. Suspendisse congue odio non sodales cursus. Donec et ante id mi porta tempus. Suspendisse sed fringilla nisl. Morbi ut orci et mi euismod suscipit et ut tellus. Integer mollis commodo sem vel cursus.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
