<div class="wrapper main">
  <div class="row">
    <div class="col-md-4"><img src="/images/icon.png" width="100%" /></div>
    <div class="col-md-8 main-text">Let your friends know you are thinking of them and put a big smile on their face. You never know who might then do the same for you.</div>
  </div>


    <div class="play-button"><a href="#" data-toggle="modal" data-target="#videoModal"><img src="/images/play.png" /></a></div>
    <div class="download-appstore-button"><a target="_blank" href="https://itunes.apple.com/us/app/tinkchat/id939420577"><img src="/images/Download_on_the_App_Store_Badge_US-UK_135x40.svg" /></a></div>
    <div class="i-want-android text-center">
      If you would like us to make an android version, send us the following message:<br>
      <a href="/contact/Android"><b><u>I want an Android version of Tinkchat.</u></b></a>
    </div>
    <%= render partial: 'video_modal' %>

</div>
