<li><a href="#" data-toggle="modal" data-target="#contactModal">Contact</a></li>
<li><a href="#" data-toggle="modal" data-target="#privacyModal">Privacy</a></li>
<li><a href="#" data-toggle="modal" data-target="#termsModal">Terms</a></li>
